name: Node.js CI

on:
  workflow_dispatch:

  push:
    branches: [main]
    paths-ignore:
      - ".github/assets/**"
      - ".github/ISSUE_TEMPLATE/**"
      - "docs/**"

  pull_request:
    branches: [main]
    paths-ignore:
      - ".github/assets/**"
      - ".github/ISSUE_TEMPLATE/**"
      - "docs/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  ci:
    name: Node.js CI
    if: ${{ github.repository == 'wreathe-js/github-actions-test' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3

      - name: Install pnpm
        uses: pnpm/action-setup@c3b53f6a16e57305370b4ae5a540c2077a1d50dd
        with:
          version: latest

      - name: Setup node v16
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
          cache: "pnpm"

      - name: Install Node dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Run CI scripts
        run: pnpm run ci
